.footer {
     height: 20rem;
     background-color: $color-secondary-dark;

     @include  responsive(tablet) { 
          height: 10rem;
     }

     &__content {
          height: 100%;
          align-items: center;

          a {
               color: $color-white;
               transition: all .4s;

               &::after {
                    content: '';
                    width: 0px;
                    height: 1px;
                    display: block;
                    background-color: rgba($color-white, 0);
                    transition: all .4s;
               }
     
               &:hover::after {
                    width: 100%;
                    background-color: rgba($color-white, .8);
               }
          }
     }

     &__logo {
          img {
               width: 5rem;
               margin-right: 8rem;

               @include  responsive(tablet) { 
                    width: 3.3rem;
                    margin-right: 6rem;
               }
          }
     }
}