@import "./mixins";

.form {

     &__input {
          padding: 1rem 1.5rem;
          width: 70%;
          border-radius: $b-radius;
          color: $color-primary;
          border: 1px solid $color-secondary;

          @include  responsive(tablet) { 
               width: 50%;
          }

          @include  responsive(phone) { 
               width: 40%;
          }
               
          &:focus {
               outline: none;
               border: 1px solid $color-primary;
          }
          &::placeholder {
               color: $color-secondary;
          }
     }
}

.contact-form {
     margin-bottom: 4rem !important;
     
     label {
          font-family: $text-font;
          color: $color-secondary-dark;
          font-weight: 500!important;
          margin-bottom: 1.6rem!important;
     }
}

.contact-input, .contact-textarea {
     margin-top: 1.5rem;
     font-family: $text-font;
     padding: 1rem 1.5rem;
     width: 50rem !important;
     border-radius: $b-radius;
     border: 1px solid $color-secondary;
     transition: all .3s;

     @include responsive(tablet) { 
          width: 80%!important;
     }

     
          
     &:focus {
          outline: none;
          border: 1px solid $color-primary;
          color: $color-primary;
     }
     &::placeholder {
          color: $color-secondary;
     }
}

.contact-textarea {
     width: 100%!important;
     height: 30vh!important;
     resize: none;

     @include responsive(tablet) { 
          width: 80%!important;
     }

}

.ninja-forms-req-symbol, .nf-form-fields-required {
     display: none;
}

#text-2::marker {
     color: $color-transparent;
}

.contact-btn {
     text-align: right;

     @include responsive(tablet) { 
          margin-right: 10%;
     }
}

.contact {
     &__widget {

               @include responsive(tablet) { 
                    text-align: center;
               }
          }

     h2{
          @include responsive(tablet) { 
               margin-left: 10%;
          }
     
     }
}

.nf-field-label {
     @include responsive(tablet) { 
          margin-left: 10%;
     }
}

    



