.container { 
     width: 65%;
     margin: 0 auto;

     @include  responsive(desktop) { 
          width: 100%;
          padding: 0 3rem;
     }  
}

.container-big {
     width: 90%;
     margin: 0 auto;

     @include  responsive(tablet) { 
          width: 100%;
          padding: 0 3rem;
     }  
}

.container-small {
     width: 50%;
     margin: 0 auto;

     @include  responsive(tablet) { 
          width: 100%;
     }  
}

.flex { display: flex;}

.center {text-align: center;}


.u-margin-top-big {
     margin-top: 10rem;

     @include  responsive(tablet) { 
          margin-top: 5.5rem;
     }
}
.u-margin-top-mid {
     margin-top: 8rem;

     @include  responsive(tablet) { 
          margin-top: 4rem;
     }
}
.u-margin-top-normal {
     margin-top: 6rem;

     @include  responsive(tablet) { 
          margin-top: 3rem;
     }
}
.u-margin-top-small {
     margin-top: 2rem;

     @include  responsive(tablet) { 
          margin-top: 1.4rem;
     }
}

.u-margin-top-special {
     margin-top: 4rem;

     @include  responsive(tablet) { 
          margin-top: 2rem;
     }
}

.u-margin-bottom-big {
     margin-bottom: 10rem;

     @include  responsive(tablet) { 
          margin-bottom: 5.5rem;
     }
}
.u-margin-bottom-mid {
     margin-bottom: 8rem;

     @include  responsive(tablet) { 
          margin-bottom: 4rem;
     }
}
.u-margin-bottom-normal {
     margin-bottom: 6rem;

     @include  responsive(tablet) { 
          margin-bottom: 3rem;
     }
}
.u-margin-bottom-small {
     margin-bottom: 2rem;

     @include  responsive(tablet) { 
          margin-bottom: 1.4rem;
     }
}

.u-padding-bottom-big {
     padding-bottom: 10rem;

     @include  responsive(tablet) { 
          padding-bottom: 5.5rem;
     }
}
.u-padding-bottom-normal {
     padding-bottom: 6rem;

     @include  responsive(tablet) { 
          padding-bottom: 3rem;
     }
}
.u-padding-bottom-small {padding-bottom: 2rem;}

.u-padding-top-big {
     padding-top: 10rem;
     @include  responsive(tablet) { 
          padding-top: 5.5rem;
     }
}
.u-padding-top-small {padding-top: 2rem;}
