.article {
     &__info {
          justify-content: space-between;
     }

     &__img {
          width: 100%;
          height: 35rem;
          margin-bottom: 4rem;
          background-image: url(img/monitor.jpg); 
          background-position: center; 
          background-size: cover;
     }

     p {
          padding-bottom:10rem;
     }
}