.wc-block-featured-product {
     // background-color: $color-transparent!important;
     background-color:$color-transparent!important;
     color: $color-primary;

     h2 { display:none;}
}

.wp-block-button__link {
     border-radius: 2px !important;
     transition: all .4s!important;

     &:hover {
          background-color: rgba($color-primary, .8)!important;
     }
}
