.service {

     &__content {
          margin: 7rem 0;
          justify-content: space-between;

          @include responsive(tablet) { 
               display: block;
          }

          &--item {
               border: 1px solid $color-secondary;
               border-radius: 3px;
               width: 29%;
               padding: 3rem;

               @include responsive(tablet) { 
                    width: 100%;
                    margin-bottom: 2rem;
               }

               p {
                    margin-top: 3rem;
               }
          }
     }
}