.woocommerce {
     width: 90%;
     margin: 10rem auto;

     @include responsive(tablet) { 
          margin: 5.5rem auto!important;
     }

     ul {
          list-style: none;
     }

     &__nav {
          margin-bottom: 4rem;

          a {
               color: $color-primary;
               transition: all .4s;
               position: relative;

               &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $color-primary;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all .4s;
               }

               &:hover {
                    color: rgba($color-primary, .8);
               }

               &:hover::after {
                    background-color: rgba($color-primary, .5);
               }
          }
     }

     &__account {

          a {
               margin-left: 25%;
               font-size: $default-size;
               color: $color-primary;
               border: 1px solid $color-primary;
               padding: 1rem 3rem;
               border-radius: $b-radius;
               transition: all .4s;
               position: relative;

               @include responsive(desktop) { 
                    margin-left: 13%;
               }  
               @include responsive(tablet) { 
                    margin-left: 0;
                    line-height: 10rem;
               }  

               &:hover {
                    color: $color-white;
                    background-color: $color-primary;
               }
          }
     }

     &__label {
          padding-top: 2.5rem!important;
     }

     &__pwd {
          margin-top: 4rem;
          margin-left: .5rem;

          a {
               color: $color-primary;
               transition: all .4s;
               position: relative;

               &:hover {
                    color: rgba($color-primary, .8);
               }

               &::after  {
                    content: '';
                    display: block;
                    background-color: $color-primary;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all .4s;
               }

               &:hover::after {
                    background-color: rgba($color-primary, .5);
               }
          }
     }

     &__btn {
          text-align: right;
          padding-top: 4rem!important;
     }

}

.woocommerce-MyAccount-content {
     width: 60%!important;
     margin: 10rem auto;
     float: none!important;

     @include responsive(tablet) { 
          width:  100%!important;
          margin: 5.5rem auto;
     }
}

.woocommerce-form {
     border:none!important;
     padding: 0!important;
}

.woocommerce-form-row {
     label {
          font-weight: 500;
          font-size: 1.8rem;
          margin-bottom: 1.3rem;
     }
}

.woocommerce-Input {
     background-color: $color-white;
     color: $color-secondary;
     padding: 1rem 1.5rem;
     border-radius: $b-radius;
     border: 1px solid $color-secondary;
          
     &:focus {
          outline: none;
          border: 1px solid $color-primary;
          color: $color-primary;
     }
     &::placeholder {
          color: $color-secondary;
     }
}

.form-row {
     margin-top: 4rem !important;

     @include responsive(tablet) { 
          margin-top: 1.5rem !important;
     }
}

.summary {
     width: 70%!important;
     float: none!important;
     margin: 8rem auto;
     text-align: center;
}

.woocommerce-Tabs-panel {

     p {
          text-align: center;
          margin: 4rem;
          font-size: 1.8rem;
          font-weight: 500;

     }
}

.button {
     background-color: $color-primary!important;
     border-radius: $b-radius;
     padding: 1rem 3rem!important;
     color: $color-white!important;
     font-weight: 400!important;
     transition: all .4s;

     &:hover {
          background-color: rgba($color-primary, .8)!important;
     }
}

.product-thumbnail, 
.posted_in,
.tabs,
.show-password-input,
.required,
.woocommerce-form-coupon-toggle,
.woocommerce-additional-fields  {
     display: none;
}

.woocommerce-billing-fields {
     margin-bottom: 10rem;

     h3 {
          font-size: 2.3rem!important;
          font-weight: 500!important;
          line-height: 2.8rem!important;
     }

     &__field-wrapper {
          label {
               color: $color-secondary-dark;
               font-weight: 500;
               font-size: 1.8rem;
          }

          input,select {
               padding: 1rem 1.5rem;
               border-radius: $b-radius;
               color: $color-secondary;
               border: 1px solid $color-secondary;
                    
               &:focus {
                    outline: none;
                    border: 1px solid $color-primary;
               }
               &::placeholder {
                    color: $color-secondary;
               }
          }
     }
     
}

#order_review_heading {
     font-size: 2.3rem!important;
     font-weight: 500!important;
     margin-bottom: 4rem;
}

address {
     border: none!important;
}

.wp-block-group {

     @include responsive(tablet) { 
          position: absolute;
          width:  100%;
          top: -40%;
          right: 2.5%;

          a {
               display: inline-block;
               width: 105%;              
               font-size: 1.6rem;
          }
     }
     
}